/*============================================================================================================================*/
/*=================================== Form Start ====================================================*/
/*============================================================================================================================*/
input{
    background-color: transparent;
    border: none;
    outline: none;
     font-weight: 600;
   width: 100%;
}
input::placeholder {
  color: #3a6073;

  font-weight: 500;
}
.form {
  background-color: #f1f8fb;
   }
.input-field  {
    color: #333;
   background-color: #daeaf1;
 margin-bottom: 1.5rem;
 font-size: 18;
 }
.input-field i{
  color: #3a6073;
     margin-left: 1rem;
  }
.home-title{
    font-size: 2.3rem;
}
.title {
  color: #3a6073;
  font-size: 2.3rem;
  margin-bottom: 2rem;
}
.btn-field p{
    color: #333;
}
.btn-field a{
    text-decoration: none;
    color: #3a6073;
    transition: .5s all;
}
.btn-field a:hover{
  text-decoration: none;
  color: #16222a;
}
/*============================================================================================================================*/
/*=================================== Form End ====================================================*/
/*============================================================================================================================*/
