
/*============================================================================================================================*/
/*======================================================= Todo Start ====================================================*/
/*============================================================================================================================*/
.todo-bg {
  background-color: #f1f8fb;
}
.add-bar input {
  border-bottom: 1px solid #dadfe2;
}
.add-bar input:focus {
  border-bottom: 1px solid #3a6073;
}
.add-bar button {
  background-color: #3a6073;
  color: white;
}
#error {
  color: #ff5c5c;
}
.checked {
  text-decoration: line-through;
  color: #555;
}
#check-icon {
  color: #3a6073;
}
/*============================================================================================================================*/
/*======================================================= Todo End ====================================================*/
/*============================================================================================================================*/

