body {
    background-color: #3a6073;
}
/*============================================================================================================================*/
/*======================================================= Testimonials Start ====================================================*/
/*============================================================================================================================*/
.testimonials-item img {
    width: 12rem;
    height: 12rem;
    border: .3rem solid #16222a;
    transition: 1s all;

}
.carousel-indicators button {
    width: 1rem !important;
    height: 1rem !important;
    background-color: #f1f8fb !important;

}
.testimonials-item,
.testimonials-item p,
.testimonials-item span {
    transition: 1s all;
}
.testimonials-item {
    cursor: pointer;
}

.testimonials-item:hover {
    background-color: #16222a !important;
    color: #fff !important;
}
.testimonials-item:hover img {
    color: #fff;
    border: .3rem solid #fff;
    transform: translateY(-1rem);
}
.testimonials-item:hover p,
.testimonials-item:hover span {
    color: #fff !important;

}
/*============================================================================================================================*/
/*======================================================= Testimonials End ====================================================*/
/*============================================================================================================================*/



 